 <div class="user-details">
  <h1> Brief Intro. </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2> Quantitative & Qualitative skills</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Proficiency in Microsoft packages such as word, excel and visual code. Also great at interperating quantitative results</p>
    </div>
    <div class="tech">
      <h2>Technical skills</h2>
      <i class="devicon-r-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-line colored"></i>   
      <p>Proficient use of R, CSS, Python for solving Analytical problems </p>
    </div>
</div>
