<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Brand Work </h3>
    <ul>
      <li> video compilation, editing, reels & tiktoks </li>
    </ul>
    <p> Using my skills to help brands advertise their product is a passion of mine. I did a couple of reels and Tiktoks for Nokware skincare. </p>
    <a class="project-link" href="https://www.instagram.com/reel/CiIMUFhIuPV/">Check it out</a>
    <a class="project-link" href="https://www.tiktok.com/@nokwareskincare/video/7136185263960886574?is_copy_url=1&is_from_webapp=v1">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Personal Vlog </h3>
    <ul>
      <li> </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
