<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Brand Work </h3>
    <ul>
      <li> video compilation, editing, reels & tiktoks </li>
    </ul>
    <p> Using my skills to help brands advertise their product is a passion of mine. I did a couple of reels and Tiktoks for Nokware skincare. Click the link below to see some of my best works! </p>
    <a class="project-link" href="https://www.instagram.com/reel/CiIMUFhIuPV/" target="_blank"> IG reel 1 </a>
    <a class="project-link" href="https://www.instagram.com/reel/Chmyxa9otqA/" target="_blank"> IG reel 2 </a>
    <a class="project-link" href="https://www.tiktok.com/@nokwareskincare/video/7136185263960886574?is_copy_url=1&is_from_webapp=v1" target="_blank"> Tiktok 1</a>
    <a class="project-link" href="https://www.tiktok.com/@nokwareskincare/video/7132460477950463278?is_copy_url=1&is_from_webapp=v1" target="_blank"> Tiktok 2 </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Personal Vlog </h3>
    <p>I also create vlogs as a way as a way to show some personality and also create memories. At this point, it is a hobby of mine as well as skating! Here are some of my favorite vlogs. You can also visit my instagram <a href="https://www.instagram.com/mawulijt/reels/" target="_blank">mawulijt</a> and Tiktok <a href="https://www.tiktok.com/@mawuliix" target="_blank">mawuliix</a> for more!</p>
    <a class="project-link" href="https://www.instagram.com/reel/Chu8nrgJCoZ/" target="_blank"> IG reel 1 </a>
    <a class="project-link" href="https://www.instagram.com/reel/Ce_FQENlZPx/" target="_blank"> IG reel 2 </a>
    <a class="project-link" href="https://www.tiktok.com/@mawuliix/video/7155789227236543749?is_copy_url=1&is_from_webapp=v1" target="_blank"> Tiktok  </a>
    <a class="project-link" href="https://www.tiktok.com/@mawuliix/video/7143171792234958086?is_copy_url=1&is_from_webapp=v1" target="_blank"> Tiktok 2 </a>
  </div>
</div>
